@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kalam';
  src: local('Kalam') url('/fonts/Kalam/Kalam-Regular.ttf') format('ttf');
 }

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background:  #FFFBF0;
  margin: 0 5%;
  font-family: Kalam;

}

h3 {
  font-size: 15px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 2.5px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0%;
  right: 2%;
  z-index: 100;

  backdrop-filter: blur(10px);
  border-bottom: black solid 2px;
}

.menu-logo {
  height: auto;
 align-items: center;
 display:flex;
 gap: 0 40px;
 font-size: 30px;
 letter-spacing: .2rem;
 margin-left:2.5%;
}

.nav-icons {
 align-items: center;
 display:flex;
 gap: 0 40px;
}

.basket{
  margin-right:2.5%;
}

.drop-down-items-container {
  position: absolute;
  display: block;

  right: 0;
}

.drop-down-items:first-of-type {
  margin-top: 20px;
}

.nav-icons .basket :hover {
  filter: drop-shadow(black 1px 1px 1px);
  background: radial-gradient(circle at 50% 50%, rgba(123,181,200, 0.15),rgba(255, 255, 255, 0) 75%)
  /* background: radial-gradient(circle at 50% 50%, rgba(173, 216, 230, 0.15),rgba(255, 255, 255, 0) 75%) */
}

.nav-icons  .calender :hover {
  filter: drop-shadow(black 1px 1px 1px);
  background: radial-gradient(circle at 50% 50%, rgba(152,251,152,0.20),rgba(255, 255, 255, 0) 75%)
}

.search-bar {
  width: 400px;
  align-items: center;
  background-color: white;
  filter: drop-shadow(black 1px 1px 1px);
  border-radius: 21px;
}

.search-bar:focus {
  outline: none;
}

.billboard {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  height: 75vh;
  object-fit: cover;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1; 
  z-index:-1;
  
}

.billboard-mask {
  position: absolute;
  top: 50%;
  gap: 10px;
}

.billboard-mask-name-icons {
  display:flex;
  gap: 10px;
}

.billboard-mask-tags-container {
  margin-top: 5px;
  display:flex;
  gap: 10px;
}

.billboard-mask-tags-item {
  border-radius: 21px;
  background-color: #7F9DB0;
  padding: 0.25em;
}

.main-content {
  margin-top: 7.5%;
}

.section:first-of-type {
  margin-top: -20vh;
}

.section {
  margin-top: 5px;
  min-width: 95vw;
  min-height: 430px;
}

.search-section{
  margin-top: 10%;
}

.row-test{
  display:flex;
  gap: 30px;
  filter: drop-shadow(black 1px 1px 1px);
}
.row-test::before{
  content: "«";
}

.row-test::after{
  content: "»";
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.section-header {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 25px;
  letter-spacing: .2rem;
}

.food-container{
  display:flex;
  gap: 30px;
  overflow-x: auto;
  filter: drop-shadow(black 1px 1px 1px);
}

.food-container-test{
  display:flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  overflow-x: visible;
  filter: drop-shadow(black 1px 1px 1px);
}


.results-food-container{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
}

.food-container::-webkit-scrollbar{
  display: none;
}
.food-item-preview{
  flex-shrink: 0;
  max-width: 220px;
  border: 1px solid rgba(255,255,255,.0);
  animation: fadeInAnimation ease .75s;
}

.food-item {
  flex-shrink: 0;
  width: 220px;
  height: min-content;
  border: 1px solid rgba(255,255,255,.0);
  animation: fadeInAnimation ease .75s;
  transition-duration: .5s;
}

.food-item-test {
  flex-shrink: 0;
  width: 220px;
  height: min-content;
  border: 1px solid rgba(255,255,255,.0);
}

.food-item-expanded{
  width: 220px;
  transform: scaleX(1.3) scaleY(1.2) translateY(5%);
  flex-shrink: 0;
  height: min-content;
  border: 1px solid rgba(255,255,255,.0);
  animation: fadeInAnimation ease .75s;
  transition-duration: .5s;
  
}

.food-item-expanded:hover{
  transition-delay: .55s;
  border: black solid 1px;
  border-radius: 12px;    
}

.food-item-expanded:first-child{
  width: 220px;
  transform-origin: bottom left;
  transform: scale(1.15) translateY(5%);
  flex-shrink: 0;
  height: min-content;
  border: 1px solid rgba(255,255,255,.0);
  animation: fadeInAnimation ease .75s;
  transition-duration: .5s;
  
}

.food-item-expanded:last-child{
  /* transform: translateX(25%); */
  width: 220px;
  transform-origin: bottom right;
  transform: scale(1.15) translateY(5%);
  flex-shrink: 0;
  height: min-content;
  border: 1px solid rgba(255,255,255,.0);
  animation: fadeInAnimation ease .75s;
  transition-duration: .5s;
  
}

.food-item:last-child {
  margin-right: 30px;
}
.food-item-test:last-child {
  margin-right: 30px;
}

.food-name {
  background-color: #D0D6C8;
  padding: 0.25em;
  margin: 9px 0;
  border-radius: 18px;
}

.food-details {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  border-radius: 21px;
  background-color: #A0B2A7;
}

.food-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 9px;
}

.food-tags-item {
  border-radius: 21px;
  background-color: #7F9DB0;
  padding: 0.25em;
}


.heart:hover {
  animation: pop 1s;
  animation-iteration-count: infinite;
  background-position:  center center;
  background: radial-gradient(circle at 50% 50%, crimson,rgba(255, 255, 255, 0) 40%)
}

@keyframes pop {
  0% { transform: translate(2px, 2px) rotate(0deg); }
}

.search-item-section {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.search-container {
  justify-content: flex-start;
  margin-top: 10%;
  /* display:flex; */
  gap: 10px;
  flex-wrap: wrap;
  filter: drop-shadow(black 1px 1px 1px);
}

/////////////////////////////////////////////////////////////////////////////////////////////////* Basket *////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.basket-viewport-content {
  display:flex;

}